table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    text-align: left;
    padding: 8px;
}

td {
    text-align: left;
    padding: 8px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

hr {
    opacity: 25%;
    margin-bottom: 15px;
}

.container {
    margin: auto;
    padding: 10px;
    width: 50%;
    height: 50%;
}

